<form action="" method="post" class="custom-form">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" name="description" id="description">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Quantity</label>
        <input type="number" class="form-control" name="qty" id="qty">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Price</label>
        <input type="number" class="form-control" name="price" id="price">
    </div>
    <div class="btn-group">
        <button type="reset" class="btn clear">clear</button>
        <button type="submit" class="btn submit">Add Product</button>
    </div>
</form>