<div class="card-container">
    <div *ngFor="let item of products" class="custom-card" [routerLink]="'/product/' + item.id">
        <div class="heading">
            <div>
                <h4>{{item.name}}</h4>
                <p>{{item.description}}</p>
            </div>
            <div class="price">
                <svg xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 -960 960 960" width="22">
                    <path
                        d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
                </svg>
            </div>
        </div>
    </div>
</div>